@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 90%;
  transition: all;
}

 #goog-gt-tt , #goog-gt-tt:hover{
  display: none !important;
  border: none !important;
  background: none;
}

/* .goog-tooltip, .goog-tooltip:hover , #goog-gt-vt {
  display: none !important;
}
 #goog-gt-vt:hover {
  display: none !important;
  background: none !important;
  opacity: 0;
 }

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
  display: none !important;
  opacity: 0;
}


.VIpgJd-suEOdc, .VIpgJd-yAWNEb-L7lbkb , .skiptranslate {
  display: none !important;
  font-style: none !important;
  opacity: 0;
  
} */

.asdfas {
  border: 2px solid red;
  width: 8rem;
}